sphinx/source/ewok/img/ada_c.png
sphinx/source/ewok/img/ada_c_2.png
sphinx/source/ewok/img/perm.png
sphinx/source/ewok/img/perm_reg-0.png
sphinx/source/ewok/img/perm_reg-1.png
sphinx/source/img/ewok_precise_arch.png
sphinx/source/img/ewok_stack.png
sphinx/source/img/std_arch.png
sphinx/source/img/wookey_ipcs.png
sphinx/source/img/wookie_ipcs.png
sphinx/source/tataouine/img/repo_archi.png
