sphinx/source/ewok
sphinx/source/lib*
sphinx/source/drv*
sphinx/source/massstorage
sphinx/source/img/ewok_precise_arch.png
sphinx/source/img/ewok_stack.png
sphinx/source/img/std_arch.png
sphinx/source/img/wookey_ipcs.png
sphinx/source/img/wookie_ipcs.png
sphinx/source/img/crypto.png
sphinx/source/img/crypto_dfu.png
sphinx/source/img/dfu_stack.png
sphinx/source/img/flipflop.png
sphinx/source/img/nominal_stack.png
sphinx/source/tataouine/img/repo_archi.png
sphinx/source/tataouine/img/layout.png
sphinx/source/img/maturity.png
sphinx/source/autogen.drvs.rst
sphinx/source/autogen.ewok.rst
sphinx/source/autogen.libs.rst
sphinx/source/javacard
sphinx/source/_downloads/*.pdf
*.gen
